 
/**Paleta de cores

rgb(248, 245, 248) Fundo
#03045E Federal Blue
#4F517D Ultra violet
#DCCFEC Thistle
#DDC4DD Thistle+1

**/


 * {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
 }

 body {
    background-color: rgb(248, 245, 248) ;
 }

 header {
    width: 100%;
    background-color: #4F517D;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
 }

 .logo-imagem {
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 25px;
 }

.container-logo {
    display: flex;
    align-items: center;
}

.logo-texto {
    margin-left: 20px;
    font-size: 16px;
    color: rgb(248, 245, 248);
}

.menu li {
    display: inline-block;
    margin: 0 10px;
}

 .menu li a {
    font-size: 18px;
    text-decoration: none;
    color: rgb(248, 245, 248);
    text-transform: uppercase;
    border-radius: 25px;
    padding: 15px;
 }

 .menu li a:hover {
    color: #4F517D;
    background-color: rgb(248, 245, 248);
 }

 /**conteudo principal**/

 main {
    display: grid;
    grid-template-areas:
        "area1"
        "area2"
        "area3";
    grid-template-rows: 1fr 1fr 1fr; /* Divide igualmente em 3 linhas */
 }

 .area1 {
    grid-area: area1;
    /* Estilos para a primeira área */
    width: 100%;
    height: 100vh;
}

.area2 {
    grid-area: area2;
    /* Estilos para a segunda área */
}

.area3 {
    grid-area: area3;
    /* Estilos para a terceira área */
}

#inicio {
    background-color: #898cc2;
    display: grid;
    grid-template-areas: 
        "title"
        "content"
        "button";
    grid-template-rows: 1fr 0.5fr 1fr; /* Divide igualmente em 3 linhas */
}

.title {
    grid-area: title;
    
}

.content {
    grid-area: content;
}

.button {
    grid-area: button;
}

